/**
 * @Author: Shubham S11
 * @Date: 07/13/2023
 * @PageName: SideBar
 * @Description: CSS for left and top bar.
 */
.leftbar{
position:fixed;  
top: 156px;
left: 0px;
width: 320px;
height: 992px;
/* UI Properties */
background: #0276BE 0% 0% no-repeat padding-box;
box-shadow: 5px 0px 12px #0000000D;
opacity: 1;
}

.leftbar-box{
    position: relative;
    top: 0px;
    left: 0px;
    width: 320px;
    height: auto;
    border: 1px solid;
    border-color: #2f8ec8;
    background: #00578D 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 22px;
    padding-left:12px ;
    color:#FFFFFF;
}

.custom-accordion .card {
    background-color: #00578D; /* Set the desired background color */
    border-color: #2f8ec8; /* Set the desired border color */
  }
  
  .custom-accordion .card-header {
    background-color: #00578D; /* Set the desired header background color */
  }
  
  .custom-accordion .card-header .btn {
    color: #333; /* Set the desired text color */
  }
  .top-bar{
    position: fixed;
    top: 0px;
    left: 20px;
    width: 425px;
    height: 127px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .top-bar img{
   
   width: 240px;
   height: 90px;
   background: transparent 0% 0% no-repeat padding-box;
   opacity: 1;
   margin-top:10px ;
  }
  .collapse-button{
    position: relative;
    top: 55px;
    left: 340px;
    width: 45px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .line1{
    width: 45px;
    height: 3px;
    border: 2px solid #0276BE;
    margin-top: 5px;
    background-color: #0276BE;
  }
  .line2{
    width: 35px;
    height: 3px;
    border: 2px solid #0276BE;
    background-color: #0276BE;
    margin-top: 5px;
  }
  .line3{
    width: 25px;
    height: 3px;
    border: 2px solid #0276BE;
    margin-top: 5px;
    background-color: #333333;
  }

  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .user-profile {
    position: relative;
    top: 10px;
    left: 450px;
    width: 1421px;
    height: 241px;
    text-align: right;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-name {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .dropdown {
    position: relative;
    left:15px;
    /* top: 30px; */
    
  }
  
  .dropdown-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0.72px;
    color: #515151;
    opacity: 1;
  }
  
  .dropdown-content {
    position: absolute;
    top: 112%;
    width: 131px;
    right: 0;
    background-color: #ffffff;
    padding: 10px;
    display: none;
    box-shadow: 0px 0px 20px #C5C5C540;
    border: 1px solid #DFDFDF;
  }
  
  .dropdown-content a {
    display: block;
    text-decoration: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #FFFFFF;
    opacity: 1;
  }
  
  .dropdown-content a:hover {
    background-color: #e0e0e0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }