/**
 * @Author: Shubham S11
 * @Date: 07/14/2023
 * @PageName: SuperAdmin
 * @Description: CSS for components in super admin page.
 */
.main-mid-div{
    position: relative;
    top: -115px;
    width: 1547px;
    left: 331px;
}
.search-form{
    position: relative;
    width: 211px;
    left: 1200px;
    top: -71px;
}
.search-btn{
    position: relative;
    top: -37px;
    left: 222px;
    height: 36px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 4px;
    border-radius: 15px;
  }
  
  .pagination a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .pagination a:hover {
    background-color: #f0f0f0;
  }
  
  .pagination .active a {
    background-color: #333;
    color: #fff;
  }
  
  .pagination .disabled a {
    opacity: 0.6;
    pointer-events: none;
  }