#location{
    margin-left: 40px;
    margin-bottom: 100px;
}

#chooseLocation{
    width: "146px";
    margin-left: "-83px";
    margin-right: "48px";
}

#card-Style{
     width: 800px;
     height: 480px;
     margin-left: 100px;
}

#row-style{
    margin-bottom: 1px;
}